
#textToCopy {
    padding: 10px;
    border: 1px solid green;
    border-radius: 4px;
    margin-right: 10px;
    font-size: 14px;
    outline: none;
}

#copyButton {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
    outline: none;
    transition: background-color 0.3s ease-in-out;
}

#copyButton:hover {
    background-color: #45a049;
}

#textToCopy[readonly] {
    background-color: #f8f8f8;
}

#copyButton.copied {
    background-color: #3498db;
}

